In [22]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

%matplotlib inline

Di sini saya mengunakan "matlplotlib" sebagai library visualisasi.

Framework dari Scikit-Learn yang saya gunakan adalah Linear Regression karena variabel-variabelnya berupa angka dan ingin melihat seperti apa pengaruh antar variabel tersebut terhadap hasil yang diinginkan.

In [23]:
df_heart = pd.read_csv("https://raw.githubusercontent.com/stefkwan-h8/dataset/main/heart.csv")
df_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

Data yang digunakan di sini adalah data pasien rumah sakit beserta profilnya serta keterangan sakit atau tidak di kolom "target" dengan 1 menunjukkan sakit dan 0 menunjukkan tidak sakit.

Adapun keterangan dari kolom-kolomnya adalah sebagai berikut:

"age" menunjukkan umur;

"sex" menunjukkan gender (1 untuk pria, 0 untuk wanita);

"cp" menunjukkan tipe nyeri dada yang memiliki skala 0-3;

"trestbps" menunjukkan tekanan darah pasien dalam kondisi istirahat;

"chol" menunjukkan serum kolesterol di dalam darah;

"fbs" menunjukkan kadar gula darah pasien dalam situasi berpuasa;

"restecg" menunjukkan hasil elektrokardiografi pasien kondisi istirahat;

"thalach" menunjukkan detak jantung maksimal;

"exang" menunjukkan angin duduk yang dialami ketika latihan fisik;

"oldpeak" menunjukkan ST Depression dalam elektrokardiogram, didapat saat pasien melakukan latihan fisik dan relatif ke kondisi istirahat;

"slope" menunjukkan kurva lembah dalam elektrokardiogram saat pasien latihan fisik di kondisi puncaknya;

"ca" angka pembuluh utama yang terlihat di fluoroskop;

"thal" menunjukkan indikator kerusakan dengan 3 berarti normal, 6 berarti kerusakan tetap, 7 berarti kerusakan yang bisa ditangani.

In [24]:
fitur = df_heart[["age", "sex", "cp", "trestbps", "chol"]]
sakit = df_heart["target"]

df_heart = LinearRegression()
df_heart.fit(fitur, sakit)

LinearRegression()

Saya memilih kolom umur, gender, nyeri dada, tekanan darah saat istirahat, dan kolesterol sebagai variabel untuk melihat apakah dari variabel-variabel tersebut saya bisa mendeteksi pasien akan sakit atau tidak.

Alasan pemilihan variabel tersebut karena nyeri dada, tekanan darah, dan kolesterol memiliki kaitan yang erat dengan penyakit jantung dan stroke.

In [25]:
df_heart.score(fitur, sakit)

0.32847040353097756

Nilai dari model yang saya buat adalah 0.328

In [26]:
df_heart.predict([[32, 0, 0, 125, 175]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0.85572715])

Dalam percobaan ini saya memprediksi apakah pasien berumur 32 tahun, perempuan, tidak mengalami nyeri dada, tekanan darah 125, dan kolesterol 175 memiliki kemungkinan sakit atau sehat lebih besar.

Ternyata hasil dari modelnya adalah 0.855. Angka ini mendekati 1 dimana angka 1 menunjukkan bahwa pasien sakit berdasarkan data sebelumnya.

Bisa disimpulkan dari percobaan data pasien ini bahwa pasien memiliki kemungkinan sakit lebih besar daripada kemungkinan sehat.